<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader">Received Contact Form from abbondanzo.com</span>
        <table class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p><b>Sent by:</b></p>
                    <p>{{ name }} &lt;<a href="mailto:{{ email }}">{{ email }}</a>&gt;</p>
                    <p><b>Message Body:</b></p>
                    <p>{{ msg }}</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- START FOOTER -->
        <div class="footer">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">Logged user information (for spam protection):</span>
                <br> IP Address: {{ ip }} | Email: {{ email }} | User-Agent: {{ userAgent }}</a>.
              </td>
            </tr>
            <tr>
              <td class="content-block powered-by">
                Submitted by Contact Form at
                <a href="https://abbondanzo.com/">abbondanzo.com</a>.
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>